html,body{margin:0;padding:0;font-size:12px;}
/*产品分类*/
.main{width:1200px;}
.main-in{width:300px;display:inline-block;}
.main-left{width:200px;float:right;margin-top:15px;}
.main-left ul{list-style:none;padding:0 ;margin:0;}
.main-left >ul{border-bottom:1px solid #ccc}
.main-left >ul >li{border:1px solid #ccc;border-bottom-color:white;}
.main-left ul li a{ text-decoration:none;display:block;line-height: 35px;height:35px;padding-left:5px;}
.main-left >ul >li >a:hover{background-color: #666;cursor:pointer;padding:0 10px;color: white;}
.main-left ul ul{display:none;}
.main-left ul ul.show{display:block;}
.main-left li li{border-top:1px solid #ccc;padding-left: 10px;}
.main-left li li:hover{background-color:#999;cursor:pointer;color: white;}


/*图片轮播*/
.main-left .img{position:relative;width:200px;height:150px;overflow:hidden;margin-top:10px;}
.main-left .img ul{position:absolute;width:1000px;height:150px;list-style:none;padding:0;margin:0;font-size:0;}
.main-left .img ul li{display:inline-block;font-size:18px;padding:0;margin:0}
.main-left .img img{width:200px;height:150px;}
/*左右控制图片*/
.weizhi{font-size:30px;color:white;padding:0;}
.zuo{position:absolute;background-color:black;opacity:0.5;top:70px;cursor: pointer}
.you{position:absolute;right:0;background-color:black;opacity:0.5;top:70px;cursor: pointer}
.zuo:hover,.you:hover{background-color: red}
/*圆圈*/
.circle{position:absolute;bottom:0;left:75px;}
.circle div{display:inline-block;background-color:black;border-radius:50%;width:8px;cursor: pointer;height:8px;padding:0;margin:0 2.5px;}
.circle .active{background-color:white;}
.circle div:hover{background-color: white;}

/*购物车*/
.shop{position:relative;width:200px;height:50px;padding:10px 0;font-size:30px;background-color: #3291ff;border-radius:5px;cursor: pointer}
.shop span:first-child{position:absolute;width:30px;height:23px;top:24.5px;left:35px;background:url(../images/gouwu.jpg) no-repeat -204px -131px}
.shop span:last-child{position:absolute;left:72px;top:18px;color:white;}


/*手机分类*/
.main-right{border:1px solid #ccc;display:inline-block;width:700px;vertical-align:top;}
.main-right ul{list-style: none;padding:5px 0;margin:0;clear:both}
.main-right ul li{display:inline-block;padding: 0 10px;height:20px;line-height:20px;border-radius: 5px}
.main-right ul:first-child li:first-child {font-weight:bold;float:left;padding-bottom: 90px;padding-right:32px;}
.main-right ul:nth-child(2)  li:first-child {font-weight:bold;float:left;padding-bottom: 10px}
.main-right ul:nth-child(3)  li:first-child{float:left;padding-bottom:40px;}
.main-right ul:nth-child(2) ~ul  li:first-child{padding-right:34px;}
.main-right ul  li:first-child{font-weight:bold;}
.main-right ul li:nth-child(2) {font-weight:bold;background-color: #666;color:white}
.main-right ul li ~ li:hover {background-color:#666;cursor:pointer;color:white}

/*遮罩*/
.shop-on{display:none;position:absolute;top:0;z-index:2;background-color: #ccc;opacity:0.8;}
.shop-on.show{display:block}
.shopcar{width:700px;height:400px;display:none;position:absolute;top:100px;z-index:3;left:300px;background-color: white;overflow-y:auto;overflow-x:hidden;border:1px solid #ccc}
.shopcar.show{display:block}
.shopcar .img{width:25px;height:25px;position:fixed;top:100px;left:975px;cursor:pointer;}


/*手机图片信息*/
.main-right div{box-sizing:border-box;position:relative;display:none;border:1px solid black;padding:10px;margin-left:10px;margin-top: 10px;}
div.div.add.abb.acc{display:inline-block}
.div:hover{border:1px solid #f00}
img{width:200px;}
.span{display:inline-block;margin-right:5px;}
/*加入购物车按钮*/
.main-right div p.shop-in{position:absolute;bottom:-11px;text-align: center;font-size:18px;color:red;cursor:pointer;border-radius:5px;z-index: 1;background-color: #ccc;}

/*删除物品*/
.shopcar  div{position:relative;}
/*to do下面的样式无效*/
.shopcar  div:hover{border:1px solid red}

.shopcar  div p.shanchu{margin:0;position:absolute;font-size:14px;bottom:0;color:red;cursor:pointer;border-radius:5px;background-color: #ccc;text-align: center}

